= form_for @user do |f|
  .container.user-new
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          %h2 Register
          .user-name_image.row
            .user-name.col-md-10
              = f.text_field :name, placeholder: "Username"
            .user-image.col-md-2
              %button.btn.btn-primary Add image
              %input{type: "file"}/
          = f.email_field :email, placeholder: "E-mail", class: "user-email"
          %br
          = f.password_field :password, placeholder: "Password", class: "user-password"
          %br
          = f.password_field :password_comfirmation, placeholder: "Password-Comfirmation", class: "user-password"
        .col-md-12
          %h4 Member of
          .user-user-member.row
            .user-name.col-md-12
              = f.text_field :member, placeholder: "Member"
          %h4 Profile
          .user-user-profile.row
            .textarea.user-name.col-md-12
              = f.text_area :profile, placeholder: "Profile", cols: 30, rows: 4
          %h4 Works
          .user-name_image.row
            .textarea.user-name.col-md-12
              = f.text_area :works, placeholder: "Works", cols: 30, rows: 4
      .row.text-center.user-btn
        = f.submit "Save", class: "btn btn-lg btn-primary btn-block"

/ %form.container.user-new{action: "/users", method: :post}
/   .col-md-8.col-md-offset-2
/     %header.row.user-nav.row
/       .col-md-12
/         %h2 Register
/         .user-name_image.row
/           .user-name.col-md-10
/             %input{type: "text", placeholder: "Username", name: name}/
/           .user-image.col-md-2
/             %button.btn.btn-primary Add image
/             %input{type: "file"}/
/         %input.user-email{type: "email", placeholder: "E-Mail"}/
/         %input.user-password{type: "password", placeholder: "Password"}/
/       .col-md-12
/         %h4 Member of
/         .user-user-member.row
/           .user-name.col-md-12
/             %input{type: "text", placeholder: "Member", member: member}/
/         %h4 Profile
/         .user-user-profile.row
/           .user-name.col-md-12
/             %textarea{name: "textarea", cols: "30", rows: "4", placeholder: "Profile", profile: profile}
/         %h4 Works
/         .user-name_image.row
/           .user-name.col-md-12
/             %textarea{name: "textarea", cols: "30", rows: "4", placeholder: "Works", works: works}
/     .row.text-center.user-btn
/       %button.btn.btn-lg.btn-primary.btn-block{type: "submit"} Save
