.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.active{role: "presentation"}
          = link_to 'Popular PROTO', root_path
        %li{role: "presentation"}
          = link_to 'Newest PROTO', prototypes_newest_index_path
      %button{type: "button", class: "btn btn-default col-lg-1"}
        = link_to 'View Tags', tags_path

.container
  .row
    - @tags.each do |tag|
      .col-sm-4.col-sm-3
        %a.tag.thumbnail{href: "/tags/#{tag.name}"}
          .tag-name
            = tag.name
          .tag-project
            #{tag.taggings.count} Project
